@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;1,400&family=Rokkitt:wght@300;400;500&family=Rosario:ital,wght@0,400;1,300&display=swap');

*{
	margin: 0;
	padding: 0;
}
body{
	background-color: black;
}

/*header*/

.menu{
	background-color: black;
	width: 99vw;
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px;
}

.logo a img{
	width: 500px;
	padding: 0 80px;
}

.menu-items{
	display: flex;
	list-style: none;
	margin-right: 30px;
	margin-top: 15px;
}
.menu-items li{
	border-radius: 3px;
	margin: 0 5px;
}
.menu-items li a{
	font-family: rokkitt;
	padding: 7px 13px;
	text-decoration: none;
	font-size: 20px;
	display: block;
	color: white;
}

.iconify{
	margin-right: 30px;
	font-size: 25px;
	color: white;
	cursor: pointer;
	display: none;
}
ul.show{
	top: 65px;
}


@media screen and (max-width: 1138px){
	.menu{
		height: 65px;
	}
	.logo a img{
		width: 400px;
	}
	.iconify{
		display: inline-flex;
	}
	.menu-items{
		z-index: 110;
		position: fixed;
		width: 100vw;
		height: calc(100% - 65px);
		background-color: black;
		top:-100vh;
		text-align: center;
		transition: all .4s;
		flex-direction: column;
	}
	.menu-items li{
		margin: 30px 0px 0px;
		line-height: 30px;
	}
	.menu-items li a{
		font-size: 20px;
		color: white;
		font-weight: bold;
	}
}

@media screen and (max-width: 1138px) and 
(orientation: landscape){

	.menu-items li{
		margin: 5px 0 0 0;
	}
	.menu-items{
		overflow: scroll;
		height: calc(100% - 65px);
	}

}

@media screen and (max-width: 600px){
	.logo a img{
		width: 300px;
	}
}


/*inicio*/

.carousel-inner{
	height: 92vh;
	min-height: 480px !important;
	width: 100%;
}




/*biografia*/
#main{
	display: inline-block;
	flex-direction: row;
}

.contenedorBio{
	border-bottom: 1px solid white;
	padding-top: 100px;
	width: 100%;
}

.fotoBio{
	width: 30%;
	height:100%;
}

.tituloBio h2{
	font-family: 'Rosario', sans-serif;
	letter-spacing: 4px;
	color: white;
	text-align: center;
}


.textoBiografia{
	margin: 20px;
	padding: 20px;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	letter-spacing: 2px

}


/*contacto*/
#contactoMain{
	display: grid;
	grid-template-columns: 30% 70%;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;

}

.tituloContacto{
	text-align: center;
	padding-bottom: 50px; 
	font-family: 'Rosario', sans-serif;
	letter-spacing: 4px;
	color: white;
	padding-top: 100px;
}

.imagenFormulario img{
	width: 400px;
}

.formulario{
	width: 60%;
	height: auto;
	padding-left: 55px;
}

.formulario form{
	display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
	border: 2px solid;
	border-color: white;
	width: 500px;
}

.formControl{
	display: block;
    padding: 10px;
    font-size: 1rem;
    font-weight: 400;    
}

.formNombre{
	margin: 40px 20px 20px 20px;
	align-items: 50%;
}

.formEmail{
	margin: 20px 20px 20px 20px;
}

.formSugerencia{
	height: 200px;
	margin: 20px 20px 20px 20px;
}

.formBoton{
	background-color: transparent;
	color: white;
	border: 2px solid;
	margin: 20px 20px 20px 20px;
}

@media all and (max-width: 880px){
	.tituloContacto h2{
		font-size: 25px;
	}

	.imagenFormulario{
		display: none;
	}

}



/*Galeria*/

.contenedorGaleria{
	padding-top: 100px;
	display: grid;
	min-height: 100vh;
	grid-template-areas: 
	"tituloGaleria tituloGaleria tituloGaleria"
	"galeriaFotos galeriaFotos galeriaFotos";
	
	grid-template-columns: 100%;
	grid-template-rows: 100px;
	border-bottom: 1px solid white;
}

.tituloGaleria{
	grid-area: tituloGaleria;
	font-family: 'Rosario', sans-serif;
	letter-spacing: 4px;
	color: white;
	text-align: center;
}
.tituloGaleria h2{
	font-size: 35px;
}
.tituloGaleria h3{
	font-size: 25px;
}

.galeriaFotos{
	display: flex;
	padding: 5px;
	flex-wrap: wrap;
}

.columnas{
	flex: 25%;
	padding: 5px;
}

.columnas img{
	margin-top: 5px;
 	width: 100%;
}

@media all and (max-width: 768px){
	.columnas{
		flex: 50%;
	}	
	.tituloGaleria h2{
		font-size: 30px;
	}
	.tituloGaleria h3{
		font-size: 20px;
	}			
}

@media all and (max-width: 576px){
	.columnas{
		flex: 100%;
	}
	.tituloGaleria h2{
		font-size: 25px;
	}
	.tituloGaleria h3{
		font-size: 15px;
	}
}




/*Discos*/
#contenedorDiscos{
	padding-top: 100px;
	display: grid;
	grid-template-areas: 
		"tituloDiscos tituloDiscos tituloDiscos"
		"bandasDiscos fotosDiscos .";

	grid-template-columns: 20% 80%;
	grid-template-rows: 100px;
}


.tituloDiscos{
	grid-area: tituloDiscos;
	font-family: 'Rosario', sans-serif;
	letter-spacing: 4px;
	color: white;
	text-align: center;
}

.bandasDiscos{
	grid-area: bandasDiscos;
	justify-self: center;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.bandasDiscos ul li{
	list-style: none;	
	padding-bottom: 20px;

}

.fotosDiscos{
	grid-area: fotosDiscos;
}

.fotosDiscos img{
	height: 250px;
	width: 250px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 10px;
}

@media all and (max-width: 665px){
	.bandasDiscos{
		display: none;
	}

}


/*Recibir Formulario*/

.textoRecibe span{
	font-family: 'Rosario', sans-serif;
	display: flex;
	text-align: center;
	justify-content: center;
	color: white;
	font-size: 20px;
	padding-top: 100px;
}

.volverContacto a{
	display: flex;
	list-style: none;
	color: white;
	justify-content: center;
	padding-top: 60px;
}

.